* {
    padding: 0;
    margin: 0;
    font-family: Ubuntu;
}

/* .main-content {
    xheight: 715px;
} */

header {
    background-color: red;
    padding: 20px;
}

header p {

    font-size: 1.8rem;
    color: yellow;
}

header img {
    height: 200px;
    margin: 0 20px;
}

header nav form input {
    padding: 15px 20px;
    border-radius: 15px 0 0 15px;
    border: none;
}

header nav form button {
    padding: 15px 25px;
    border-radius: 0 15px 15px 0;
    border: none;
    font-weight: bold;
    color: red;
}

header nav form input, header nav form button {
    font-size: 1.4rem;
    letter-spacing: .3rem;
}

header nav form input:focus {
    outline: none;
    border: none;
}

.film-reel {
    background-image: url("/images/red-film-strip.png");
    background-position: top;
    background-repeat: repeat;
    background-size: cover;
    height: 100px;
}

/* #display-card {
    xborder: 1px solid red;
    xbox-shadow: -1px 3px 4px 5px grey;
} */

.movie-info {
    /* using this class on both for the font setting, the text under the poster and the left panel */
    font-size: 1.3rem;
}

footer {
    background-color: red;
    color: white;
    padding-top: 10px;
    text-align: right;
    font-size: .75rem;
}

/* .left-content, .center-content, .right-content {
    xborder: 1px solid black;

    xbackground-color: yellow;
} */

.left-content, .center-content {
    border-right: 5px solid red;
}

 .demo-ratings {
    padding: 10px;
    font-weight: bold;
    width: 100%;
}

.title, .subtitle {
    color: red;
}


@media screen and (max-width: 576px) {

    .main-content {
        flex-direction: column;
    }
}

